__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
env/
venv/
ENV/
.venv/
venv.bak/

pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.mypy_cache/
.dmypy.json
.pyre/
.env
.env.local
*.env
.DS_Store
*.bak
*.log
.vscode/
.python-version
